files:
  /opt/elasticbeanstalk/hooks/appdeploy/post/00_init.sh:
    mode: "000777"
    owner: root
    group: root
    content: |
      #!/bin/bash

      # modules
      sudo wget -r --no-parent -A 'epel-release-*.rpm' http://dl.fedoraproject.org/pub/epel/7/x86_64/Packages/e/;
      sudo rpm -Uvh dl.fedoraproject.org/pub/epel/7/x86_64/Packages/e/epel-release-*.rpm;
      sudo yum-config-manager --enable epel*;
      sudo yum update -y --skip-broken;
      sudo yum install dpkg -y;
      yum -y install fcgiwrap;
      systemctl start fcgiwrap@nginx.socket;
      systemctl enable fcgiwrap@nginx.socket;
      sudo yum -y install conntrack-tools;

      # letsEncrypt
      sudo yum install -y certbot python2-certbot-nginx;
      sudo yum install -y certbot-dns-route53;
      sudo certbot certonly --dns-route53 --dns-route53-propagation-seconds 30 -d *.${DOMAIN} --email ${EMAIL} -q --agree-tos;
      sudo ln -sf /etc/letsencrypt/live/${DOMAIN} /etc/letsencrypt/ebcert;

      # honeypot 파일
      echo $"fastcgi_intercept_errors off;" >> /etc/nginx/includes/honeypot.conf;
      echo $"include fastcgi_params;" >> /etc/nginx/includes/honeypot.conf;
      echo $"fastcgi_param SCRIPT_FILENAME /usr/local/libexec/block-ip.cgi;" >> /etc/nginx/includes/honeypot.conf;
      echo $"fastcgi_pass unix:/run/fcgiwrap/fcgiwrap-nginx.sock;" >> /etc/nginx/includes/honeypot.conf;

      # cgi 파일
      echo $"#!/bin/bash" >> /usr/local/libexec/block-ip.cgi;
      echo $"" >> /usr/local/libexec/block-ip.cgi;
      echo $"echo \"Status: 410 Gone\"" >> /usr/local/libexec/block-ip.cgi;
      echo $"echo \"Content-type: text/plain\"" >> /usr/local/libexec/block-ip.cgi;
      echo $"echo" >> /usr/local/libexec/block-ip.cgi;
      echo $"" >> /usr/local/libexec/block-ip.cgi;
      echo $"echo \"Bye bye, \$REMOTE_ADDR!\"" >> /usr/local/libexec/block-ip.cgi;
      echo $"sudo /usr/local/bin/block-ip.sh" >> /usr/local/libexec/block-ip.cgi;
      echo $"" >> /usr/local/libexec/block-ip.cgi;
      echo $"exit 0" >> /usr/local/libexec/block-ip.cgi;

      chmod 0755 /usr/local/libexec/block-ip.cgi;

      # sh 파일
      echo $"#!/bin/bash" >> ./test;
      echo $"" >> ./test;
      echo $"if [[ -z \${REMOTE_ADDR} ]]; then" >> ./test;
      echo $"  if [[ -z \"\$1\"  ]]; then" >> ./test;
      echo $"    echo \"REMOTE_ADDR not set!\"" >> ./test;
      echo $"    exit 1" >> ./test;
      echo $"  else" >> ./test;
      echo $"    REMOTE_ADDR=\$1" >> ./test;
      echo $"  fi" >> ./test;
      echo $"fi" >> ./test;
      echo $"" >> ./test;
      echo $"# Put space separate list of trusted IP addresses, not to lock yourself out if you like to test the honeypot! \:\)" >> ./test;
      echo $"TRUSTED_IPS=(127.0.0.1)" >> ./test;
      echo $"if printf '%s\n' \${TRUSTED_IPS[@]} | grep -q -P \"^\$REMOTE_ADDR\\\$\"; then" >> ./test;
      echo $"  echo \"Trusted IP\"" >> ./test;
      echo $"  exit 0" >> ./test;
      echo $"fi" >> ./test;
      echo $"" >> ./test;
      echo $"if [[ \"\$REMOTE_ADDR\" != \"\${1#*[0-9].[0-9]}\" ]]; then" >> ./test;
      echo $"  /sbin/ipset add honeypot4 \${REMOTE_ADDR}" >> ./test;
      echo $"  /sbin/conntrack -D -s \${REMOTE_ADDR}" >> ./test;
      echo $"elif [[ \"\$REMOTE_ADDR\" != \"\${1#*:[0-9a-fA-F]}\" ]]; then" >> ./test;
      echo $"  /sbin/ipset add honeypot6 \${REMOTE_ADDR}" >> ./test;
      echo $"  /sbin/conntrack -D -s \${REMOTE_ADDR}" >> ./test;
      echo $"else" >> ./test;
      echo $"  echo \"Unrecognized Ip format '\$1'\"" >> ./test;
      echo $"fi" >> ./test;

      # nginx 권한
      echo $"Defaults!/usr/local/bin/block-ip.sh env_keep=REMOTE_ADDR" >> /etc/sudoers.d/nginx-block-ip;
      echo $"nginx ALL=(ALL) NOPASSWD: /usr/local/bin/block-ip.sh" >> /etc/sudoers.d/nginx-block-ip;

      firewall-cmd --reload;

      sudo sh /home/ec2-user/setCredential.sh;
      sudo cp /home/ec2-user/credentials.json /home/webapp/credentials.json;
      sudo rm /home/ec2-user/credentials.json;

      # elastic
      curl -L -O https://artifacts.elastic.co/downloads/beats/elastic-agent/elastic-agent-7.15.2-amd64.deb;
      sudo dpkg -i elastic-agent-7.15.2-amd64.deb;
      sudo rm elastic-agent-7.15.2-amd64.deb;
      sudo elastic-agent enroll --url=${FLEETURL} --enrollment-token=${FLEETTOKEN} -f && sudo systemctl enable elastic-agent && sudo systemctl start elastic-agent;