commands:
    01setup_swap:
        test: test ! -e /var/swapfile
        command: |
            /bin/dd if=/dev/zero of=/var/swapfile bs=1M count=2048
            /bin/chmod 600 /var/swapfile
            /sbin/mkswap /var/swapfile
            /sbin/swapon /var/swapfile

    02_permission:
        command: |
          sudo find .platform/ -type f -iname "*.sh" -exec chmod -R 755 {} \;
          sudo find /var/app/staging/.platform/ -type f -iname "*.sh" -exec chmod -R 755 {} \;
      ignoreErrors: true
        

files:
  /etc/nginx/conf.d/proxy.conf:
    mode: "000644"
    owner: root
    group: root
    content: |
      proxy_set_header        X-Real-IP       $proxy_add_x_forwarded_for;
      proxy_set_header        X-Forwarded-For $remote_addr;
      upstream nodejs {
        server 127.0.0.1:4000;
        keepalive 256;
      }

      server {
        listen 8080 ssl;
        listen [::]:8080 ssl;
        server_name localhost;

        set_real_ip_from 172.31.0.0/16;
        real_ip_header X-Forwarded-For;
        
        ssl_certificate       /etc/letsencrypt/ebcert/fullchain.pem;
        ssl_certificate_key   /etc/letsencrypt/ebcert/privkey.pem;

        ssl_session_timeout  5m;
        
        ssl_protocols  TLSv1 TLSv1.1 TLSv1.2;
        ssl_ciphers "EECDH+AESGCM:EDH+AESGCM:AES256+EECDH:AES256+EDH";
        ssl_prefer_server_ciphers   on;

        # if ($time_iso8601 ~ "^(\d{4})-(\d{2})-(\d{2})T(\d{2})") {
        #    set $year $1;
        #    set $month $2;
        #    set $day $3;
        #    set $hour $4;
        # }
        access_log /var/log/nginx/healthd/application.log.$year-$month-$day-$hour healthd;
        access_log  /var/log/nginx/access.log  main;

        add_header Set-Cookie "Path=/; HttpOnly; Secure";

       

        location / {
            proxy_pass  http://nodejs;
            proxy_set_header   Connection "";
            proxy_http_version 1.1;
            proxy_set_header        Host            $host;
               
        }

        gzip on;
        gzip_comp_level 4;
        gzip_types text/plain text/css application/json application/x-javascript text/xml application/xml application/xml+rss text/javascript;

        location /static {
            alias /var/app/current/static;
        }
      }

  /opt/elasticbeanstalk/hooks/configdeploy/post/99_kill_default_nginx.sh:
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/bin/bash -xe
      rm -f /etc/nginx/conf.d/00_elastic_beanstalk_proxy.conf
      service nginx stop 
      service nginx start

container_commands:
  removeconfig:
    command: "rm -f /tmp/deployment/config/#etc#nginx#conf.d#00_elastic_beanstalk_proxy.conf /etc/nginx/conf.d/00_elastic_beanstalk_proxy.conf"
