container_commands:
  00_update_yum:
    command: "sudo yum update -y --skip-broken"
  01_enable_agent:
    command: |
      sudo elastic-agent enroll --url=${FLEETURL} --enrollment-token=${FLEETTOKEN} -f
      sudo systemctl enable elastic-agent 
      sudo systemctl start elastic-agent
    ignoreErrors: true
  02_permission:
    ommand: "chmod +x .platform/hooks/postdeploy/03_cron.sh"