container_commands:
  00_download_epel:
    command: "sudo wget -r --no-parent -A 'epel-release-*.rpm' http://dl.fedoraproject.org/pub/epel/7/x86_64/Packages/e/"
    ignoreErrors: true
    test: test ! -d "/etc/letsencrypt/"
  01_install_epel_release:
    command: "sudo rpm -Uvh dl.fedoraproject.org/pub/epel/7/x86_64/Packages/e/epel-release-*.rpm"
    ignoreErrors: true
    test: test ! -d "/etc/letsencrypt/"
  02_enable_epel:
    command: "sudo yum-config-manager --enable epel*"
    ignoreErrors: true
    test: test ! -d "/etc/letsencrypt/"
  03_update_yum:
    command: "sudo yum update -y --skip-broken"
  04_install_certbot:
    command: "sudo yum install -y certbot python2-certbot-nginx"
    ignoreErrors: true
    test: test ! -d "/etc/letsencrypt/"
  05_install_plugin:
    command: "sudo yum install -y certbot-dns-route53"
    ignoreErrors: true
    test: test ! -d "/etc/letsencrypt/"
  06_get_cert:
    command: "sudo certbot certonly \
    --dns-route53 --dns-route53-propagation-seconds 30 \
    -d *.${DOMAIN} --email ${EMAIL} -q"
    ignoreErrors: true
    test: test ! -d "/etc/letsencrypt/"
  07_cert_link:
    command: "sudo ln -sf /etc/letsencrypt/live/${DOMAIN} /etc/letsencrypt/ebcert"
    ignoreErrors: true
    test: test ! -d "/etc/letsencrypt/"
  08_credentials:
   command: 'echo {"type": "service_account", "project_id": "cultivated-cove-320001",  "private_key_id": ${CAPTCHA_ID}, \
    "private_key": ${CAPTCHA_KEY}, "client_email": ${CAPTCHA_EMAIL},  "client_id": "115405318409515778219", \
    "auth_uri": "https://accounts.google.com/o/oauth2/auth",  "token_uri": "https://oauth2.googleapis.com/token", \
    "auth_provider_x509_cert_url": "https://www.googleapis.com/oauth2/v1/certs", "client_x509_cert_url": ${CAPTCHA_X509} } >> /home/ec2-user/credentials.json'
    ignoreErrors: true
    test: test ! -d "/home/ec2-user/credentials.json"
