files:

  /etc/cron.d/cert:
    mode: "000755"
    owner: root
    group: root
    content: |
      0 */12 * * * root test -x /usr/bin/certbot  -a \! -d /run/systemd/system &&  perl -e 'sleep int(rand(43200))' &&  certbot -q renew

container_commands:
  10_create_cert_crontab:
    command: "sh /etc/cron.d/certbot.sh"
    ignoreErrors: true
